/*网页开始*/
.content{
	width: 1168px;
	margin:0 auto;
}
.top_wrapper{
	background: #700005;
	height:32px;
}
.top{
	background: #700005;
	height:32px;
}
.top_l{
	float: left;
	width:305px;
	height:32px;
}
.top_l ul li{
	height:32px;
	display: flex;
	align-items: center;
}
.top_l ul li a{
	color: #e5e3e3;
}
.top_l ul{
	display: flex;
	justify-content: space-between;	

}

.top_r{
	float: right;
	height:32px;
	width: 484px;
}
.top_r ul{
	display: flex;
	justify-content: space-between;
	
}
.top_r ul li{
	height: 32px;
	display: flex;
	align-items: center;
}
.top_r ul li a{
	color: #e5e3e3;
}
/*头部*/
.header_wrapper{
	height: 100px;
	background: #8f000b;
}
.header{
	height: 100px;
	background: #8f000b;
	background:url(../images/img_03.jpg) no-repeat no-repeat 843px 0;
}
.logo{
	float: left;
}
.logo h1{
	padding-top:20px;
}
.logo a{
	display: block;
	width:213px;
	height: 61px;
	background:url(../images/img_05.jpg) no-repeat;
	text-indent: -9999px;

}

/*菜单*/
.nav_wrapper{
	height: 43px;
	background: #fff;
}
.nav{
	height: 43px;
	background: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
}
.nav ul{
	width:946px;
	height:43px;
	display: flex;
	justify-content: space-between;

}
.nav ul li{
	height:43px;
	display: flex;
	align-items: center;
	
}
.nav ul li a{
	color: #333333;
	font-size:16px;
}
/*bnner图*/
.banner_wrapper{
	height: 460px;
	background:#e4d383 url(../images/img_09.jpg) no-repeat center;
}
.banner{
	height: 460px;
}
.banner a{
	height: 460px;
	display: block;
	width: 1423px;
}
/*北大新闻*/
.news_wrapper{
	height: 417px;
	background: #fff;
}
.news{
	height: 417px;
	background: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
}
.mian{
	width: 1000px;
	height:357px;
}
.mian h2{
	width: 1000px;
	line-height:41px;
	border-bottom:2px solid #8c0000;
	color: #323232;
	font-size: 18px;
	margin-bottom:13px;
}
.mian dl{
	width: 308px;
	float: left;
}
.mian dl dd h3 a{
	line-height:21px;
	color: #323232;
}
.mian dl dd p a{
	line-height:18px;
	color: #787878;
}
.mian ul{
	width: 317px;
	float: left;
	margin-left:29px;
	margin-top:10px;
}

.mian ul li{
	height:62px;
	width: 317px;
	border-bottom:1px solid #e5e5e5 ;
	line-height:20px;
}
.mian ul li a{
	display: inline-block;
	padding:10px 18px 10px 18px;
}
.mian ul p{
	line-height:46px;
	color: #8c0000;
}
.mian ul p span{
	float: left;
	margin-left:18px;
}
.mian ul p span strong{
	font-size: 10px;
	color: #000;
}
.mian ul p a{
	display: inline-block;
	float: right;
	color: #8c0000;
}

/*新闻列表2*/

.news02_wrapper{
	height: 413px;
	background: #fff;
}
.n_left{
	width: 568px;
	height:355px;
	margin-left:85px;
	float: left;
}
.n_left ul li{
	margin:18px;
}
.n_left ul li h3{
	width: 568px;
	line-height:41px;
	border-bottom:2px solid #8c0000;
	color: #323232;
	font-size: 18px;
	margin-bottom:13px;
}
.n_left>ul>li>a{
	float: left;
	margin-right:63px;
}

.word h4{
	line-height:36px;
}
.word p{
	line-height:18px;

}
.n_left .w_l{
	float: left;
	width:120px;
	height: 96px;
	margin-top: 8px;
}
.n_left .w_l a{
	display: block;
	width: 120px;
	height: 40px;
	text-align: center;
	line-height:40px;
	background: #f4f4f4;
	color: #8c0000;
}
.n_left .w_l a:nth-child(1){
	margin-bottom:16px;
}
.n_left .w_r{
	float: left;
}
.n_left .w_r p{
	line-height:40px;
	margin-left:24px;
}
.n_left .w_r p:nth-child(1){
	margin-bottom:16px;
	
}
.n_right{
	float: right;
	width: 402px;
	height: 370px;
	margin-top: 21px;
}
.n_right .n_t{
	width: 402px;
	height: 175px;
	background: #f4f4f4;

}
.n_right .n_t>span{
	float: left;
	width:95px;
	height: 175px;
	border-right: none;
	border:1px solid #c9c9c9;
	box-sizing: border-box;
	text-align: center;
	
}
.n_right .n_t>span>img{
	margin-top:47px;
	margin-bottom: 10px;
}

.n_right .n_t>a>img{
	float: right;
	border-top:2px solid #8c0000;
}
.n_right .n_b{
	margin-top: 22px;
	width: 402px;
	height: 175px;
	background: #f4f4f4;

}
.n_right .n_b>span{
	float: left;
	width:95px;
	height: 175px;
	border-right: none;
	border:1px solid #c9c9c9;
	box-sizing: border-box;
	text-align: center;
	
}
.n_right .n_b>span>img{
	margin-top:47px;
	margin-bottom: 10px;
}

.n_right .n_b>a>img{
	float: right;
	border-top:2px solid #8c0000;
}

/*列表*/
.list_wrapper{
	height: 420px;
	background: #f4e7f0;
}
.list{
	height: 420px;
	background: #f4e7f0;
}
.list ul{
	display: flex;
	justify-content: space-around;
	padding-top:47px;
}
.list ul li{
	width:210px;
	height: 142px;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}
.list ul li a{
	display: block;
	width: 194px;
	height:126px;
}
/*底部*/
.footer_wrapper{
	height: 216px;
	background: #59090a;
}
.footer{
	height: 216px;
	background: #59090a;
}
.footer>ul{
	height:216px;
	display: flex;
	justify-content:space-around;
	align-items: center;
	
}

.footer>ul>li{
	width:318px;
	height: 170px;
	border-left:1px solid #7a0000 ;
	border-right:1px solid #7a0000 ;
}
.f_nav{
	float: left;
	margin-left: 60px;
	line-height:36px;
	margin-top:18px;
}
.f_nav>li>a{
	color: #fff;
}
.footer>ul>li:nth-child(2){
	padding-top:58px;
	padding-left:67px;
	box-sizing: border-box;
}
.footer>ul>li:nth-child(3){
	padding-top:58px;
	padding-left:67px;
	box-sizing: border-box;
}

.a01{
	display: inline-block;
	margin-bottom: 12px;
}
/*备案*/
.copy_wrapper{
	height: 32px;
	background: #000;
}
.copy{
	height: 32px;
	background: #000;
	display: flex;
	justify-content: space-around;
	align-items: center;
	color: #fff;
}
.copy a{
	color: #fff;
}














